.App {
  text-align: center;
}

.sudokuBox {
  display: inline-grid;
  border: 4px solid;
  border-right: 1px solid;
  grid-template-columns: repeat(9, auto);
}
/* Ignore scrollwheel for number input types */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.box {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border: 1px solid;
  font-size: 35px;
  resize: none;
  overflow: hidden;
  align-items: center;
}

/* Creates borders for sudoku */
.box:nth-child(3n+0) {
  border-right: 4px solid;
}

.box:nth-child(n+19):nth-child(-n+27) {
  border-bottom: 4px solid;
}

.box:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 4px solid;
}

